#header{
    position: relative;
    height: auto;
    overflow: hidden;
}
#header div#section{
	height: 1060px;
	margin:0 auto;
	width:960px;
}
#header div#section div{
	float:right;
    margin-top:48px;
}
#header div#section div a{
    display:block;
}
#header div#section span{
	color:#ACBCC9;
	float:left;
	margin:0;
	padding-right:20px;
	padding-top:45px;
	text-align:right;
	width:178px;
}
#header ul{
	list-style:none;
	margin:6px auto 0;
	padding:0;
	width:935px;    
}
#header ul li{
	float: left;
	padding-right:5px;
}
#header ul li a{
	color:rgb(92, 80, 40);
	display:block;
	font-size:18px;
	height:43px;
	line-height:37px;
	padding:0 23px;
	text-align:center;
	text-decoration:none;
	text-shadow:1px 1px 0 #94C81D;
	text-transform:capitalize;
	background-color: #274F75;   
}
#header ul li.current, #header ul li:hover{
	height:43px;
}
#service {
	width: 100%;	
}
#centers{   
    text-align: center;
    position: relative;
    
    overflow: hidden;
    top: 0;
}
#lefts{
    margin-left: 720px;
    margin-top: -25%;
}
#rights{  
    margin-right: 720px;    
}
#paragraph{
	margin-right: 720px;
	padding-left: 4%;
	text-align: left;	
}
#image{
	margin-left: 300px;
    margin-top: -960px;
	padding-right: 0%;	
	
}	
#about1{
	text-align: center;	
}
#about{
	width: 100%;
}
#contact{
	text-align: center;  
}
#ul{
	text-align: center;
}
#footer{
	background:#274F75 url(../images/bg-footer.gif) repeat-x;
	min-height:113px;
	width:100%;
}
#footer div{
	font-size:12px;
	margin:0 auto;
	padding-top:37px;
	position:relative;
	width:960px;
}
#footer div div#connect{
	float:left;
	padding:0;
	width:250px;
}
#footer div div#connect a{
	display:inline-block;
	padding-right:10px;
}
#footer div div.section{
	float:right;
	padding:0;
	width:700px;
}
#footer div div.section ul{
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	top:0;
}
#footer div div.section ul li{
	border-left:1px solid #6886a0;
	float:left;
	padding:0 5px;
}
#footer div div.section ul li.last{
	border-right:0;
}
#footer div div.section ul li:first-child{
	border:none;
}
#footer a{
	color:#6886A0;
	text-decoration:none;
}
#footer div div.section ul li a{
	display:block;
	height:12px;
	line-height:10px;
}
#footer a:hover{
	color:#fff;
}
#footer div div.section p{
	color:#6886A0;
	margin:0;
	padding:20px 3px 0;
	text-align:right;
}
